.greyBack{
	background-color: #e8e8ee;
}

.middlePic{
	display:block;
	margin: auto;
	

}

.iField{
	position: relative;
	border-radius: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
}

.iField:first-of-type{
	margin-top: 25px;

}

.iField:last-of-type{
	margin-bottom: 25px;
	
}

.myDiv{
	background-color: black;
	width: 60%;
	margin: auto;
	text-align: center;
	color: white;
	border-radius: 25px;
}

#selfPicture{
	display:block;
	margin: auto;
}

#input0{
	background-color: red;
	color: white;
}

#input1{
	background-color: blue;
	color:white;
}